footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.footer-contact {
  text-align: center;
}
.footer-contact h3 {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0;
}
button {
  background: unset;
  border: unset;
  color: #fff;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 100 !important;
  padding-bottom: 4rem;
}
.scroll-up {
  position: absolute;
  right: 8rem;
  bottom: 8rem;
}
/*media query max-widht 786px  */
@media screen and (max-width: 786px) {
  .scroll-up {
    display: none;
  }
}
