@import "./styles/loader.css";
@import "./styles/hero.css";
@import "./styles/work-section.css";
@import "./styles/work-detalis.css";
@import "./styles/footer.css";
@import "./styles/about.css";
a {
  text-decoration: none;
  color: #fff;
}
.red {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    hsla(151, 95%, 52%, 1) 0%,
    hsla(151, 70%, 52%, 0.8) 99%
  );
  z-index: 2;
}
.back {
  position: fixed;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    hsla(194, 97%, 59%, 1) 0%,
    hsla(194, 87%, 36%, 0.8) 99%
  );
  z-index: 2;
}
